/* -Font CSS- */
@font-face {
  font-family: dt-font;
  src: url('https://kckarnige.github.io/res/fonts/dtm-sans-webfont.woff2') format('woff2');
}

/* -Main CSS- */
html, body {
  background-color: #333333;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  user-select: none;
}
header {
  background: #656565;
}
::-webkit-scrollbar {
  width: 0.7em;
  background: #232323;
}
::-webkit-scrollbar-thumb {
  background: #505050;
}
nav {
  padding: 50px;
  
}
nav ul {
  list-style-type: none;
  float: right;
  position: absolute;
  left: 48%;
  transform: translate(-48%, -20%);
}
nav ul li {
  float: left;
}
nav ul li a {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}
.ui {
  font-family: 'Source Sans Pro', sans-serif;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
}
.ui:hover {
  font-family: 'Source Sans Pro', sans-serif;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  color: #b9c1cc;
  text-decoration: none;
  user-select: none;
}
.ui-active {
  font-family: 'Source Sans Pro', sans-serif;
  color: #b9c1cc;
  text-decoration: none;
  user-select: none;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%, 45%);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232323;
  color: #7e7e7e;
  text-align: center;
  font-size: 13px;
}
.footer-link {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  text-decoration: none;
  color: #b0b0b0;
}
.footer-link:active {
  color: #565656;
}
.footer-link:hover {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  color: #545454;
  text-decoration: none;
  user-select: none;
}
.link {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  text-decoration: none;
  color: #ffffff;
}
.link:active {
  color: #b0b0b0;
}
.link:hover {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  color: #b0b0b0;
  text-decoration: none;
  user-select: none;
}
.ut-link {
  font-family: dt-font;
  text-decoration: none;
  color: #ffffff;
}
.ut-link:active {
  font-family: dt-font; 
  color: #ffff00;
}
.ut-link:hover {
  font-family: dt-font;
  color: #ffff00;
  text-decoration: none;
  user-select: none;
}
