@document url-prefix("chrome-extension://clngdbkpkpeebahjckkjfobafhncgmne") {
    /* ==UserStyle==
    @name         Better Stylus Scrollbar
    @description  A simple but nicer scrollbar for the Stylus extension UI
    @author       KayoticCarnige
    @version      1.0.0
    ==/UserStyle== */
  
    html,
    body {
        font-family: Arial;
        margin: 0;
        user-select: none;
    }

    ::-webkit-scrollbar {
        width: 0.5em;
        background: rgba(204, 204, 204, 0.7);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(106, 106, 106, 0.7);
    }
}
