@font-face {
    font-family: 'Whitney Medium';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneymedium.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Medium Italic';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneymediumitalic.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Bold';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneybold.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Black';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitney-black.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Semibold';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneysemibold.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Book';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneybook.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Light';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneylight.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Semibold Italic';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/WhitneySemiboldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Book Italic';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneybookitalic.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Light Italic';
    src: url('https://kckarnige.is-a.dev/css/fonts/whitney/whitneylightitalic.woff') format('woff');
}