@font-face {
    font-family: 'Whitney Medium';
    font-style: normal;
    font-weight: normal;
    src: url('whitneymedium.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('whitneymediumitalic.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Bold';
    font-style: normal;
    font-weight: normal;
    src: url('whitneybold.woff') format('woff');
}

@font-face {
    font-family: 'Whitney Black';
    font-style: normal;
    font-weight: normal;
    src: url('whitney-black.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Semibold Regular';
    font-style: normal;
    font-weight: normal;
    src: url('whitneysemibold.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Book Regular';
    font-style: normal;
    font-weight: normal;
    src: url('whitneybook.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Light Regular';
    font-style: normal;
    font-weight: normal;
    src: url('whitneylight.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('WhitneySemiboldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Book Italic';
    font-style: normal;
    font-weight: normal;
    src: url('whitneybookitalic.woff') format('woff');
}


@font-face {
    font-family: 'Whitney Light Italic';
    font-style: normal;
    font-weight: normal;
    src: url('whitneylightitalic.woff') format('woff');
}