/* Preset Colors: standard-blurple (Default) / canary-gold / greyple / bingus-red / bandaged-blue */
/* Example: --main-color: var(--custom-color); or --main-color: #7289dafe; (YOU MUST ADD 'FE' AT THE END OF YOUR HEX CODE) */
root { 
    --main-color: var(--standard-blurple); 
    --ping-color: #f04747fe;
    --selector-color: var(--standard-blurple);
    --wordmark-text-color: #72767d;
    --wordmark-text: "Discord"; /* This should only be text (Example: Lightcord, Binguscord, BetterDiscord, Discord 2, I think you get it) */
}

/* RGB Wordmark Code */

@keyframes rainbow_animation {
    0% {
        background-position: 1%;
    }

    100% {
        background-position: 198%;
    }
}

.wordmark-2iDDfm::after {
    background: linear-gradient(to right, #6666ff, #00e1ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in infinite;
    background-size: 200% 100%;
}
