 /* ==UserStyle==
@name         Improved Discord UI
@description  A simple UI improvement by KayoticCarnige
@author       KayoticCarnige
@namespace    https://github.com/kckarnige/kckarnige.github.io/tree/master/femboi_owo/improved-dc-ui
@version      2.0.7
@changelog    Fixed problems with CSS
==/UserStyle== */

@import url('https://kckarnige.github.io/femboi_owo/improved-dc-ui/base.css');

:root { /* Status CSS */
  --rs-small-spacing: 2px;  /* spacing between avatar and status */
  --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
}

:root { /* Preset Colors */
    --standard-blurple: #7289dafe;
    --canary-gold: #efb65ffe;
    --greyple: #99aab5fe;
    --bingus-red: #be3c41fe;
    --bandaged-blue: #3e82e5fe;
    --ping-color: #f04747fe;
}

@-moz-document domain("discord.com") {

:root {
    --main-color: var(--standard-blurple);
}
    
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--main-color);
    color: #fff;
}

.childWrapper-anI2G9 {
    color: #fff;
    background: #0000;
}
    
.activeLink-22b0_I {
    background-color: var(--main-color) !important;
    border-radius: 25px;
    color: #fff;
    transition:.3s;
}
    
.navLinkMedium-4MZo72 {
    border-radius: 25px;
    transition:.2s;
}
    
.navLinkMedium-4MZo72:hover {
    border-radius: 25px;
    background-color: #23272a
}
    
.filledBrand-pyfKOu {
    background: var(--main-color);
    border-radius: 25px;
}
    
.filledBrand-pyfKOu:hover {
    background: var(--main-color);
    border-radius: 25px;
    filter: brightness(75%);
    transition:.2s;
}
    
.themeDefault-24hCdX .input-rwLH4i:checked+.indicator-3onuwD {
    background-color: var(--main-color);
}
    
.wanderingCubesItem-WPXqao {
    background-color: var(--main-color);
}
    
.filledWhite-35QGck {
    background: var(--main-color);
    color: #fff;
}
    
.tipTitle-GL9qAt {
    color: var(--main-color);
}
    
.scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 12px;
}
    
#app-mount .container-3baos1 .avatarWrapper-2yR4wp {
    background-color: transparent;
}
    
.scrollableContainer-2NUZem::-webkit-scrollbar {
  width: 0.4em;
  background: var(--scrollbar-thin-track);
  border-radius: 25px;
}
.scrollableContainer-2NUZem::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thin-thumb);
  border-radius: 25px;
}

.numberBadge-2s8kKX {
    background-color: var(--ping-color) !important;
}

.title-29uC1r {
    user-select: text !important;
    cursor: text !important;
}

::selection {
    background-color: var(--main-color) !important;
    color: #fff !important;
}
}

@-moz-document domain("canary.discord.com") {

:root {
    --main-color: var(--canary-gold)
}
}

@-moz-document domain("ptb.discord.com") {

:root {
    --main-color: var(--greyple)
}
}
