@font-face {
    font-family: 'Discordinated';
    src: url('https://kckarnige.github.io/femboi_owo/DiscordinatedRegular.woff2') format('woff2'),
        url('https://kckarnige.github.io/femboi_owo/DiscordinatedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
