@font-face {
    font-family: 'Discordinated';
    src: url('DiscordinatedRegular.woff2') format('woff2'),
        url('DiscordinatedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
